# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [1]:
import pandas as pd
from src.utils import load_data_from_google_drive

# Loading in Data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

We're going to be looking at a sports dataset that shows the results from NCAA basketball games from 1985 to 2016. This dataset is in a CSV file, and the function we're going to use to read in the file is called **pd.read_csv()**. This function returns a **dataframe** variable. The dataframe is the golden jewel data structure for Pandas. It is defined as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)".

Just think of it as a table for now.

In [2]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [3]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [4]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [5]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [6]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [7]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [8]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [9]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [10]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [11]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [12]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [13]:
df['Season'].value_counts()

Season
2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: count, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [15]:
unique_seasons = df['Season'].nunique()
print(unique_seasons)

32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [17]:
win_counts = df['Wteam'].value_counts()

team_most_wins = win_counts.idxmax()
most_wins = win_counts.max()

print(f"Team {team_most_wins} with {most_wins} wins")

Team 1181 with 819 wins

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [18]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [19]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [20]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [21]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [22]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [23]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [24]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [25]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [26]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [27]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [28]:
sorted_by_season = df.sort_values(by='Season')
sorted_by_wteam = df.sort_values(by='Wteam')
sorted_by_wscore = df.sort_values(by='Wscore')

season_df_subset = sorted_by_season.iloc[100:201][['Season']]
wteam_df_subset = sorted_by_wteam.iloc[100:201][['Wteam']]
wscore_df_subset = sorted_by_wscore.iloc[100:201][['Wscore']]

print(season_df_subset.head())
print(wteam_df_subset.head())
print(wscore_df_subset.head())

      Season
2525    1985
2526    1985
2527    1985
2528    1985
2529    1985
       Wteam
97792   1102
97721   1102
96770   1102
96658   1102
96454   1102
        Wscore
99013       43
126840      43
126982      43
15619       43
122700      43

**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [29]:
max_score = wscore_df_subset['Wscore'].max()

matching_row = df[df['Wscore'] == max_score].iloc[0]

corresponding_season = matching_row['Season']
corresponding_team = matching_row['Wteam']

print(f"Highest Winning Score: {max_score}")
print(f"Corresponding Season: {corresponding_season}")
print(f"Winning Team: {corresponding_team}")

Highest Winning Score: 45
Corresponding Season: 1985
Winning Team: 1248

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [30]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [31]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [32]:
df['ScoreDifference'] = abs(df['Wscore'] - df['Lscore'])

average_score_diff = df['ScoreDifference'].mean()

filtered_df = df[df['ScoreDifference'] > average_score_diff]

print(filtered_df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
3         1985      25   1165      70   1432      54    H      0
6         1985      25   1228      64   1226      44    N      0
8         1985      25   1260      98   1133      80    H      0
10        1985      25   1307     103   1288      71    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145280    2016     131   1401      71   1261      38    N      0
145282    2016     131   1433      76   1172      54    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference
0                    17
3                    16
6                    20
8                    18
10                   32
...                 ...
145280               33
145282               22
145284               20
145285               14
145288               13

[57227 rows x 9 columns]

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [33]:
max_diff_row = filtered_df[filtered_df['ScoreDifference'] == filtered_df['ScoreDifference'].max()].iloc[0]

season_of_max_diff = max_diff_row['Season']
winning_team_of_max_diff = max_diff_row['Wteam']
losing_team_of_max_diff = max_diff_row['Lteam']
score_difference = max_diff_row['ScoreDifference']

print(f"Season: {season_of_max_diff}")
print(f"Winning Team: {winning_team_of_max_diff}")
print(f"Losing Team: {losing_team_of_max_diff}")
print(f"Score Difference: {score_difference}")

Season: 1996
Winning Team: 1409
Losing Team: 1341
Score Difference: 91

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [34]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [35]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       N         3
       A         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: count, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [36]:
df.values

array([[1985, 20, 1228, ..., 'N', 0, 17],
       [1985, 25, 1106, ..., 'H', 0, 7],
       [1985, 25, 1112, ..., 'H', 0, 7],
       ...,
       [2016, 132, 1246, ..., 'N', 1, 5],
       [2016, 132, 1277, ..., 'N', 0, 4],
       [2016, 132, 1386, ..., 'N', 0, 13]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [37]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [38]:
average_winning_score_by_season = df.groupby('Season')['Wscore'].mean()

print(average_winning_score_by_season)

Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [39]:
max_winning_score_by_team = df.groupby('Wteam')['Wscore'].max()

print(max_winning_score_by_team)

Wteam
1101     95
1102    111
1103    109
1104    114
1105    114
       ...
1460    136
1461    112
1462    125
1463    105
1464    115
Name: Wscore, Length: 364, dtype: int64

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [40]:
average_winning_score = df.groupby(['Season', 'Wteam'])['Wscore'].mean()

team_with_highest_avg_score_per_season = average_winning_score.groupby('Season').idxmax()

for season, (season_year, team_id) in team_with_highest_avg_score_per_season.items():
    print(f"Season {season_year}: Team {team_id} had the highest average winning score.")

Season 1985: Team 1328 had the highest average winning score.
Season 1986: Team 1109 had the highest average winning score.
Season 1987: Team 1380 had the highest average winning score.
Season 1988: Team 1258 had the highest average winning score.
Season 1989: Team 1258 had the highest average winning score.
Season 1990: Team 1258 had the highest average winning score.
Season 1991: Team 1380 had the highest average winning score.
Season 1992: Team 1380 had the highest average winning score.
Season 1993: Team 1380 had the highest average winning score.
Season 1994: Team 1380 had the highest average winning score.
Season 1995: Team 1206 had the highest average winning score.
Season 1996: Team 1206 had the highest average winning score.
Season 1997: Team 1254 had the highest average winning score.
Season 1998: Team 1395 had the highest average winning score.
Season 1999: Team 1317 had the highest average winning score.
Season 2000: Team 1395 had the highest average winning score.
Season 2001: Team 1395 had the highest average winning score.
Season 2002: Team 1242 had the highest average winning score.
Season 2003: Team 1395 had the highest average winning score.
Season 2004: Team 1194 had the highest average winning score.
Season 2005: Team 1311 had the highest average winning score.
Season 2006: Team 1190 had the highest average winning score.
Season 2007: Team 1440 had the highest average winning score.
Season 2008: Team 1440 had the highest average winning score.
Season 2009: Team 1377 had the highest average winning score.
Season 2010: Team 1440 had the highest average winning score.
Season 2011: Team 1449 had the highest average winning score.
Season 2012: Team 1370 had the highest average winning score.
Season 2013: Team 1377 had the highest average winning score.
Season 2014: Team 1322 had the highest average winning score.
Season 2015: Team 1322 had the highest average winning score.
Season 2016: Team 1146 had the highest average winning score.

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [41]:
wins_per_team_per_season = df.groupby(['Season', 'Wteam']).size().reset_index(name='Wins')

print(wins_per_team_per_season)

       Season  Wteam  Wins
0        1985   1102     5
1        1985   1103     9
2        1985   1104    21
3        1985   1106    10
4        1985   1108    19
...       ...    ...   ...
10167    2016   1460    20
10168    2016   1461    12
10169    2016   1462    27
10170    2016   1463    21
10171    2016   1464     9

[10172 rows x 3 columns]

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [42]:

team_with_most_wins_per_season = wins_per_team_per_season.groupby('Season')['Wins'].idxmax()

most_wins_per_season = wins_per_team_per_season.loc[team_with_most_wins_per_season]

print(most_wins_per_season)

      Season  Wteam  Wins
217     1985   1385    27
342     1986   1181    32
818     1987   1424    33
861     1988   1112    31
1323    1989   1328    28
1551    1990   1247    29
1739    1991   1116    30
2088    1992   1181    28
2423    1993   1231    28
2665    1994   1163    27
2928    1995   1116    26
3357    1996   1269    31
3638    1997   1242    31
3943    1998   1242    33
4201    1999   1181    32
4709    2000   1409    29
4829    2001   1181    29
5121    2002   1153    30
5456    2003   1166    29
5981    2004   1390    29
6165    2005   1228    32
6452    2006   1181    30
6841    2007   1242    30
7209    2008   1272    33
7552    2009   1272    31
7870    2010   1242    32
8217    2011   1242    32
8565    2012   1246    32
8878    2013   1211    30
9462    2014   1455    33
9609    2015   1246    34
9955    2016   1242    29

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [50]:
average_losing_score_by_team = df.groupby('Lteam')['Lscore'].mean()

average_winning_score_by_team = df.groupby('Wteam')['Wscore'].mean()

comparison_df = pd.DataFrame({'Avg_Losing_Score': average_losing_score_by_team, 'Avg_Winning_Score': average_winning_score_by_team})

comparison_df = comparison_df.fillna(0)

teams_higher_avg_losing_score = comparison_df[comparison_df['Avg_Losing_Score'] > comparison_df['Avg_Winning_Score']]

print(average_losing_score_by_team)

print(average_winning_score_by_team)

print(teams_higher_avg_losing_score)

Lteam
1101    60.586207
1102    59.201507
1103    64.117347
1104    64.374317
1105    61.675373
          ...
1460    63.082915
1461    64.661972
1462    68.216117
1463    60.829213
1464    65.187063
Name: Lscore, Length: 364, dtype: float64
Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
          ...
1460    75.531469
1461    75.170082
1462    79.906021
1463    71.720102
1464    73.926056
Name: Wscore, Length: 364, dtype: float64
Empty DataFrame
Columns: [Avg_Losing_Score, Avg_Winning_Score]
Index: []

COMMENT: We can see from the output that there is no team in the dataset that has a higher average losing score than their average winning score. This makes sense because the teams average score in games where they win would be higher than in the games that they lose.

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [51]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season             1985
Daynum               20
Wteam              1228
Wscore               81
Lteam              1328
Lscore               64
Wloc                  N
Numot                 0
ScoreDifference      17
Name: 0, dtype: object
Season             1985
Daynum               25
Wteam              1106
Wscore               77
Lteam              1354
Lscore               70
Wloc                  H
Numot                 0
ScoreDifference       7
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [52]:
high_scoring_game = []

for index, row in df.iterrows():
    if row['Wscore'] > 100:
        high_scoring_game.append('Yes')
    else:
        high_scoring_game.append('No')

df['HighScoringGame'] = high_scoring_game

print(df.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  ScoreDifference  \
0    1985      20   1228      81   1328      64    N      0               17
1    1985      25   1106      77   1354      70    H      0                7
2    1985      25   1112      63   1223      56    H      0                7
3    1985      25   1165      70   1432      54    H      0               16
4    1985      25   1192      86   1447      74    H      0               12

  HighScoringGame
0              No
1              No
2              No
3              No
4              No

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [53]:
games_played_by_team = {}

for index, row in df.iterrows():
    wteam = row['Wteam']
    if wteam in games_played_by_team:
        games_played_by_team[wteam] += 1
    else:
        games_played_by_team[wteam] = 1

    lteam = row['Lteam']
    if lteam in games_played_by_team:
        games_played_by_team[lteam] += 1
    else:
        games_played_by_team[lteam] = 1

for team, games_played in games_played_by_team.items():
    print(f"Team {team}: {games_played} games played")

Team 1228: 992 games played
Team 1328: 968 games played
Team 1106: 855 games played
Team 1354: 906 games played
Team 1112: 981 games played
Team 1223: 363 games played
Team 1165: 833 games played
Team 1432: 69 games played
Team 1192: 908 games played
Team 1447: 903 games played
Team 1218: 931 games played
Team 1337: 922 games played
Team 1226: 847 games played
Team 1242: 993 games played
Team 1268: 969 games played
Team 1260: 914 games played
Team 1133: 949 games played
Team 1305: 922 games played
Team 1424: 974 games played
Team 1307: 969 games played
Team 1288: 925 games played
Team 1344: 951 games played
Team 1438: 952 games played
Team 1374: 916 games played
Team 1411: 903 games played
Team 1412: 962 games played
Team 1397: 963 games played
Team 1417: 966 games played
Team 1225: 880 games played
Team 1116: 980 games played
Team 1368: 808 games played
Team 1120: 936 games played
Team 1391: 879 games played
Team 1135: 847 games played
Team 1306: 898 games played
Team 1143: 947 games played
Team 1388: 897 games played
Team 1153: 970 games played
Team 1184: 863 games played
Team 1159: 887 games played
Team 1171: 829 games played
Team 1216: 930 games played
Team 1173: 960 games played
Team 1134: 200 games played
Team 1177: 942 games played
Team 1296: 879 games played
Team 1193: 942 games played
Team 1265: 934 games played
Team 1196: 981 games played
Team 1416: 881 games played
Team 1206: 938 games played
Team 1137: 912 games played
Team 1210: 972 games played
Team 1149: 824 games played
Team 1211: 921 games played
Team 1102: 840 games played
Team 1234: 968 games played
Team 1114: 910 games played
Team 1332: 927 games played
Team 1243: 927 games played
Team 1317: 883 games played
Team 1257: 994 games played
Team 1231: 969 games played
Team 1277: 966 games played
Team 1145: 934 games played
Team 1278: 948 games played
Team 1453: 912 games played
Team 1286: 851 games played
Team 1186: 849 games played
Team 1301: 979 games played
Team 1144: 850 games played
Team 1325: 942 games played
Team 1384: 887 games played
Team 1326: 968 games played
Team 1248: 896 games played
Team 1287: 857 games played
Team 1339: 879 games played
Team 1334: 899 games played
Team 1365: 907 games played
Team 1375: 896 games played
Team 1126: 906 games played
Team 1403: 939 games played
Team 1152: 865 games played
Team 1423: 931 games played
Team 1347: 858 games played
Team 1429: 930 games played
Team 1428: 931 games played
Team 1437: 983 games played
Team 1436: 911 games played
Team 1172: 879 games played
Team 1439: 946 games played
Team 1330: 963 games played
Team 1443: 942 games played
Team 1121: 175 games played
Team 1455: 947 games played
Team 1249: 873 games played
Team 1241: 942 games played
Team 1440: 825 games played
Team 1314: 1010 games played
Team 1200: 922 games played
Team 1323: 950 games played
Team 1264: 928 games played
Team 1458: 951 games played
Team 1104: 975 games played
Team 1160: 928 games played
Team 1414: 922 games played
Team 1181: 1013 games played
Team 1387: 956 games played
Team 1183: 871 games played
Team 1247: 943 games played
Team 1284: 932 games played
Team 1402: 847 games played
Team 1276: 959 games played
Team 1178: 920 games played
Team 1364: 890 games played
Team 1338: 962 games played
Team 1290: 875 games played
Team 1376: 945 games played
Team 1378: 936 games played
Team 1202: 856 games played
Team 1396: 979 games played
Team 1180: 930 games played
Team 1398: 870 games played
Team 1399: 860 games played
Team 1155: 950 games played
Team 1258: 898 games played
Team 1448: 947 games played
Team 1464: 856 games played
Team 1124: 906 games played
Team 1341: 857 games played
Team 1130: 951 games played
Team 1254: 898 games played
Team 1204: 862 games played
Team 1151: 899 games played
Team 1233: 957 games played
Team 1220: 933 games played
Team 1246: 999 games played
Team 1405: 921 games played
Team 1280: 946 games played
Team 1238: 920 games played
Team 1308: 935 games played
Team 1431: 937 games played
Team 1253: 915 games played
Team 1363: 889 games played
Team 1348: 938 games played
Team 1373: 950 games played
Team 1379: 896 games played
Team 1270: 861 games played
Team 1409: 966 games played
Team 1331: 809 games played
Team 1444: 916 games played
Team 1434: 902 games played
Team 1451: 866 games played
Team 1139: 923 games played
Team 1442: 840 games played
Team 1154: 820 games played
Team 1456: 891 games played
Team 1229: 951 games played
Team 1227: 917 games played
Team 1259: 913 games played
Team 1406: 926 games played
Team 1261: 956 games played
Team 1272: 992 games played
Team 1117: 891 games played
Team 1273: 896 games played
Team 1163: 977 games played
Team 1318: 942 games played
Team 1360: 889 games played
Team 1393: 993 games played
Team 1419: 894 games played
Team 1418: 912 games played
Team 1281: 977 games played
Team 1161: 905 games played
Team 1109: 169 games played
Team 1309: 840 games played
Team 1298: 894 games played
Team 1321: 912 games played
Team 1285: 865 games played
Team 1271: 887 games played
Team 1353: 939 games played
Team 1351: 929 games played
Team 1359: 874 games played
Team 1267: 909 games played
Team 1361: 915 games played
Team 1386: 958 games played
Team 1400: 982 games played
Team 1322: 854 games played
Team 1433: 975 games played
Team 1187: 861 games played
Team 1245: 927 games played
Team 1111: 876 games played
Team 1150: 942 games played
Team 1119: 868 games played
Team 1141: 872 games played
Team 1221: 929 games played
Team 1122: 903 games played
Team 1185: 900 games played
Team 1199: 949 games played
Team 1201: 947 games played
Team 1212: 837 games played
Team 1197: 896 games played
Team 1140: 965 games played
Team 1292: 888 games played
Team 1162: 831 games played
Team 1319: 843 games played
Team 1239: 891 games played
Team 1320: 913 games played
Team 1371: 946 games played
Team 1349: 888 games played
Team 1222: 930 games played
Team 1382: 914 games played
Team 1383: 898 games played
Team 1385: 954 games played
Team 1390: 932 games played
Team 1425: 944 games played
Team 1435: 961 games played
Team 1463: 838 games played
Team 1441: 854 games played
Team 1449: 938 games played
Team 1123: 906 games played
Team 1103: 910 games played
Team 1129: 907 games played
Team 1209: 891 games played
Team 1156: 900 games played
Team 1336: 926 games played
Team 1174: 913 games played
Team 1343: 832 games played
Team 1232: 913 games played
Team 1203: 933 games played
Team 1110: 910 games played
Team 1335: 880 games played
Team 1283: 952 games played
Team 1235: 950 games played
Team 1166: 957 games played
Team 1311: 839 games played
Team 1256: 925 games played
Team 1147: 698 games played
Team 1250: 898 games played
Team 1266: 951 games played
Team 1452: 945 games played
Team 1269: 946 games played
Team 1208: 954 games played
Team 1310: 949 games played
Team 1329: 941 games played
Team 1333: 911 games played
Team 1345: 966 games played
Team 1263: 898 games played
Team 1352: 925 games played
Team 1380: 862 games played
Team 1446: 48 games played
Team 1427: 858 games played
Team 1113: 937 games played
Team 1408: 808 games played
Team 1410: 831 games played
Team 1350: 959 games played
Team 1450: 913 games played
Team 1462: 954 games played
Team 1131: 945 games played
Team 1190: 891 games played
Team 1168: 891 games played
Team 1179: 914 games played
Team 1304: 953 games played
Team 1224: 907 games played
Team 1356: 953 games played
Team 1426: 859 games played
Team 1215: 147 games played
Team 1132: 895 games played
Team 1217: 828 games played
Team 1389: 928 games played
Team 1395: 943 games played
Team 1461: 914 games played
Team 1279: 927 games played
Team 1275: 932 games played
Team 1293: 886 games played
Team 1191: 928 games played
Team 1299: 870 games played
Team 1401: 940 games played
Team 1175: 890 games played
Team 1327: 22 games played
Team 1207: 923 games played
Team 1108: 866 games played
Team 1182: 924 games played
Team 1274: 915 games played
Team 1362: 867 games played
Team 1164: 893 games played
Team 1118: 27 games played
Team 1420: 845 games played
Team 1457: 801 games played
Team 1148: 844 games played
Team 1372: 795 games played
Team 1157: 784 games played
Team 1421: 799 games played
Team 1358: 806 games played
Team 1460: 827 games played
Team 1198: 812 games played
Team 1291: 815 games played
Team 1381: 735 games played
Team 1251: 755 games played
Team 1282: 745 games played
Team 1169: 724 games played
Team 1302: 200 games played
Team 1454: 737 games played
Team 1170: 660 games played
Team 1138: 728 games played
Team 1158: 720 games played
Team 1422: 719 games played
Team 1369: 682 games played
Team 1404: 643 games played
Team 1194: 647 games played
Team 1407: 639 games played
Team 1142: 597 games played
Team 1214: 627 games played
Team 1459: 575 games played
Team 1240: 568 games played
Team 1313: 563 games played
Team 1115: 520 games played
Team 1176: 526 games played
Team 1346: 522 games played
Team 1237: 519 games played
Team 1340: 497 games played
Team 1107: 512 games played
Team 1357: 500 games played
Team 1324: 506 games played
Team 1189: 481 games played
Team 1125: 506 games played
Team 1105: 447 games played
Team 1392: 493 games played
Team 1219: 466 games played
Team 1127: 442 games played
Team 1289: 48 games played
Team 1415: 418 games played
Team 1236: 400 games played
Team 1394: 390 games played
Team 1205: 405 games played
Team 1128: 106 games played
Team 1252: 401 games played
Team 1366: 384 games played
Team 1294: 336 games played
Team 1255: 344 games played
Team 1430: 325 games played
Team 1413: 348 games played
Team 1355: 327 games played
Team 1244: 322 games played
Team 1295: 308 games played
Team 1316: 327 games played
Team 1445: 107 games played
Team 1312: 276 games played
Team 1146: 267 games played
Team 1167: 260 games played
Team 1300: 252 games played
Team 1367: 267 games played
Team 1342: 260 games played
Team 1195: 273 games played
Team 1188: 207 games played
Team 1377: 210 games played
Team 1315: 217 games played
Team 1136: 240 games played
Team 1370: 222 games played
Team 1303: 129 games played
Team 1297: 113 games played
Team 1213: 84 games played
Team 1262: 83 games played
Team 1101: 76 games played
Team 1230: 64 games played

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [54]:
highest_diff_by_season = {}

for index, row in df.iterrows():
    season = row['Season']
    score_diff = row['Wscore'] - row['Lscore']

    if season in highest_diff_by_season:
        if score_diff > highest_diff_by_season[season]['score_diff']:
            highest_diff_by_season[season] = {'index': index, 'score_diff': score_diff}
    else:
        highest_diff_by_season[season] = {'index': index, 'score_diff': score_diff}

for season, data in highest_diff_by_season.items():
    print(f"Season {season}: Game Index {data['index']} had the highest score difference of {data['score_diff']}")

Season 1985: Game Index 236 had the highest score difference of 60
Season 1986: Game Index 4731 had the highest score difference of 84
Season 1987: Game Index 8240 had the highest score difference of 73
Season 1988: Game Index 12046 had the highest score difference of 68
Season 1989: Game Index 16677 had the highest score difference of 70
Season 1990: Game Index 19502 had the highest score difference of 76
Season 1991: Game Index 25161 had the highest score difference of 68
Season 1992: Game Index 27997 had the highest score difference of 82
Season 1993: Game Index 33858 had the highest score difference of 81
Season 1994: Game Index 36404 had the highest score difference of 69
Season 1995: Game Index 39858 had the highest score difference of 74
Season 1996: Game Index 44653 had the highest score difference of 91
Season 1997: Game Index 49033 had the highest score difference of 80
Season 1998: Game Index 52600 had the highest score difference of 66
Season 1999: Game Index 57618 had the highest score difference of 75
Season 2000: Game Index 60616 had the highest score difference of 75
Season 2001: Game Index 65999 had the highest score difference of 75
Season 2002: Game Index 70737 had the highest score difference of 59
Season 2003: Game Index 74791 had the highest score difference of 72
Season 2004: Game Index 79181 had the highest score difference of 70
Season 2005: Game Index 83372 had the highest score difference of 64
Season 2006: Game Index 89542 had the highest score difference of 72
Season 2007: Game Index 94507 had the highest score difference of 74
Season 2008: Game Index 97737 had the highest score difference of 70
Season 2009: Game Index 103723 had the highest score difference of 68
Season 2010: Game Index 108405 had the highest score difference of 75
Season 2011: Game Index 114015 had the highest score difference of 69
Season 2012: Game Index 118699 had the highest score difference of 62
Season 2013: Game Index 124057 had the highest score difference of 58
Season 2014: Game Index 131373 had the highest score difference of 74
Season 2015: Game Index 134590 had the highest score difference of 69
Season 2016: Game Index 140040 had the highest score difference of 73

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [55]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [58]:
win_counts = df['Wteam'].value_counts()

loss_counts = df['Lteam'].value_counts()

team_performance = pd.DataFrame({'Wins': win_counts, 'Losses': loss_counts})

team_performance.fillna(0, inplace=True)

print(team_performance)

      Wins  Losses
1101    18      58
1102   309     531
1103   518     392
1104   609     366
1105   179     268
...    ...     ...
1460   429     398
1461   488     426
1462   681     273
1463   393     445
1464   284     572

[364 rows x 2 columns]

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [59]:
df['ScoreDifference'] = df['Wscore'] - df['Lscore']

idx_highest_diff_per_season = df.groupby('Season')['ScoreDifference'].idxmax()

highest_diff_games_per_season = df.loc[idx_highest_diff_per_season]

print(highest_diff_games_per_season)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
236       1985      33   1361     128   1288      68    H      0
4731      1986      60   1314     129   1264      45    N      0
8240      1987      51   1155     112   1118      39    H      0
12046     1988      40   1328     152   1147      84    H      0
16677     1989      64   1242     115   1135      45    H      0
19502     1990      26   1181     130   1217      54    H      0
25161     1991      73   1163     115   1148      47    H      0
27997     1992      30   1116     128   1126      46    H      0
33858     1993      86   1328     146   1197      65    H      0
36404     1994      47   1228     121   1152      52    H      0
39858     1995      26   1246     124   1404      50    H      0
44653     1996      48   1409     141   1341      50    H      0
49033     1997      56   1278     114   1106      34    H      0
52600     1998      33   1395     153   1410      87    H      0
57618     1999      58   1268     132   1317      57    H      0
60616     2000      19   1261     112   1212      37    H      0
65999     2001      41   1196     125   1197      50    H      0
70737     2002      50   1328     109   1183      50    H      0
74791     2003      33   1403     107   1311      35    H      0
79181     2004      29   1328      94   1115      24    H      0
83372     2005      18   1403     119   1421      55    H      0
89542     2006      60   1400     110   1341      38    H      0
94507     2007      59   1401     101   1212      27    H      0
97737     2008       4   1182     129   1224      59    H      0
103723    2009      27   1314     116   1421      48    H      0
108405    2010      15   1397     124   1421      49    H      0
114015    2011      22   1388     121   1152      52    H      0
118699    2012      11   1345      96   1296      34    H      0
124057    2013       7   1235      98   1105      40    H      0
131373    2014      61   1256     126   1255      52    H      0
134590    2015      11   1181     113   1342      44    H      0
140040    2016      12   1139     144   1154      71    H      0

        ScoreDifference HighScoringGame
236                  60             Yes
4731                 84             Yes
8240                 73             Yes
12046                68             Yes
16677                70             Yes
19502                76             Yes
25161                68             Yes
27997                82             Yes
33858                81             Yes
36404                69             Yes
39858                74             Yes
44653                91             Yes
49033                80             Yes
52600                66             Yes
57618                75             Yes
60616                75             Yes
65999                75             Yes
70737                59             Yes
74791                72             Yes
79181                70              No
83372                64             Yes
89542                72             Yes
94507                74             Yes
97737                70             Yes
103723               68             Yes
108405               75             Yes
114015               69             Yes
118699               62              No
124057               58              No
131373               74             Yes
134590               69             Yes
140040               73             Yes

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [60]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [61]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [62]:
type(df['Wscore'])

pandas.core.series.Series

In [63]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [64]:
df[0:3]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference,HighScoringGame
0,1985,20,1228,81,1328,64,N,0,17,No
1,1985,25,1106,77,1354,70,H,0,7,No
2,1985,25,1112,63,1223,56,H,0,7,No

Here's an equivalent using iloc

In [65]:
df.iloc[0:3,:]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference,HighScoringGame
0,1985,20,1228,81,1328,64,N,0,17,No
1,1985,25,1106,77,1354,70,H,0,7,No
2,1985,25,1112,63,1223,56,H,0,7,No

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [66]:
df.isnull().sum()

Season             0
Daynum             0
Wteam              0
Wscore             0
Lteam              0
Lscore             0
Wloc               0
Numot              0
ScoreDifference    0
HighScoringGame    0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values. 
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis). 
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y