# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [1]:
import pandas as pd
from src.utils import load_data_from_google_drive

# Loading in Data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

We're going to be looking at a sports dataset that shows the results from NCAA basketball games from 1985 to 2016. This dataset is in a CSV file, and the function we're going to use to read in the file is called **pd.read_csv()**. This function returns a **dataframe** variable. The dataframe is the golden jewel data structure for Pandas. It is defined as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)".

Just think of it as a table for now.

In [2]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [3]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [4]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [5]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [11]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [12]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [13]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [14]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [15]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [16]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [17]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [18]:
df['Season'].value_counts()

2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: Season, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [13]:
# Find the number of unique seasons
num_unique_seasons = df['Season'].nunique()

# Print the result
print("Number of unique seasons:", num_unique_seasons)

Number of unique seasons: 32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [14]:
# Write your code here
# Count the number of wins for each team
team_wins = df['Wteam'].value_counts()

# Get the team with the most wins
team_with_most_wins = team_wins.idxmax()

# Print the result
print("Team with the most wins:", team_with_most_wins)

Team with the most wins: 1181

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [19]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [20]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [21]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [22]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [23]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [24]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [25]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [26]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [27]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [28]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [20]:
# Write your code here
df_sorted_by_season = df.sort_values(by='Season').iloc[100:201][['Season', 'Wteam', 'Wscore']]
df_sorted_by_winning_team = df.sort_values(by='Wteam').iloc[100:201][['Season', 'Wteam', 'Wscore']]
df_sorted_by_winning_score = df.sort_values(by='Wscore').iloc[100:201][['Season', 'Wteam', 'Wscore']]

**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [24]:
# Write your code here
max_score_season_team_df_sorted_by_season = df_sorted_by_season[df_sorted_by_season.Wscore == df_sorted_by_season.Wscore.max()][['Season', 'Wteam']]
max_score_season_team_df_sorted_by_winning_team = df_sorted_by_winning_team[df_sorted_by_winning_team.Wscore == df_sorted_by_winning_team.Wscore.max()][['Season', 'Wteam']]
max_score_season_team_df_sorted_by_winning_score = df_sorted_by_winning_score[df_sorted_by_winning_score.Wscore == df_sorted_by_winning_score.Wscore.max()][['Season', 'Wteam']]

print("\nFor the DataFrame sorted by winning score:")
print(max_score_season_team_df_sorted_by_winning_score)

For the DataFrame sorted by winning score:
        Season  Wteam
90572     2006   1416
95782     2007   1420
32579     1993   1323
134862    2015   1259
110748    2010   1316
107882    2009   1353
135830    2015   1143
50806     1997   1439
6234      1986   1299
103943    2009   1214
131773    2014   1296
92671     2007   1277
139914    2015   1461
71318     2002   1232
6979      1986   1233
77707     2003   1410
134035    2014   1430
22029     1990   1123
91291     2006   1179
56995     1999   1200
9001      1987   1343
34997     1993   1157
5338      1986   1451
127132    2013   1458
6101      1986   1165
52406     1998   1281
113621    2011   1214
80994     2004   1104
110068    2010   1343
1601      1985   1292
137787    2015   1224
109270    2010   1396
123294    2012   1192
135433    2015   1438
72338     2002   1443
135808    2015   1185
129196    2013   1380
132791    2014   1155

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [30]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [31]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [27]:
# Write your code here

# Create a new column 'ScoreDifference'
df['ScoreDifference'] = abs(df['Wscore'] - df['Lscore'])

# Calculate the average 'ScoreDifference'
average_score_difference = df['ScoreDifference'].mean()

# Filter the DataFrame
df_filtered = df[df['ScoreDifference'] > average_score_difference]

df_filtered

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,ScoreDifference
0,1985,20,1228,81,1328,64,N,0,17
3,1985,25,1165,70,1432,54,H,0,16
6,1985,25,1228,64,1226,44,N,0,20
8,1985,25,1260,98,1133,80,H,0,18
10,1985,25,1307,103,1288,71,H,0,32
...,...,...,...,...,...,...,...,...,...
145280,2016,131,1401,71,1261,38,N,0,33
145282,2016,131,1433,76,1172,54,N,0,22
145284,2016,132,1114,70,1419,50,N,0,20
145285,2016,132,1163,72,1272,58,N,0,14
145288,2016,132,1386,87,1433,74,N,0,13

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [29]:
# Write your code here

max_score_difference_game = df_filtered[df_filtered['ScoreDifference'] == df_filtered['ScoreDifference'].max()][['Season', 'Wteam', 'Lteam']]


max_score_difference_game

       Season  Wteam  Lteam
44653    1996   1409   1341

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [32]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [33]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       A         3
       N         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: Wloc, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [34]:
df.values

array([[1985, 20, 1228, ..., 64, 'N', 0],
       [1985, 25, 1106, ..., 70, 'H', 0],
       [1985, 25, 1112, ..., 56, 'H', 0],
       ...,
       [2016, 132, 1246, ..., 77, 'N', 1],
       [2016, 132, 1277, ..., 62, 'N', 0],
       [2016, 132, 1386, ..., 74, 'N', 0]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [35]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [31]:
# Write your code here

average_winning_score_by_season = df.groupby('Season')['Wscore'].mean()

average_winning_score_by_season

Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [33]:
# Write your code here

max_winning_score_by_team = df.groupby('Wteam')['Wscore'].max()

max_winning_score_by_team

Wteam
1101     95
1102    111
1103    109
1104    114
1105    114
       ...
1460    136
1461    112
1462    125
1463    105
1464    115
Name: Wscore, Length: 364, dtype: int64

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [35]:
# Write your code here

average_winning_score_by_season_and_team = df.groupby(['Season', 'Wteam'])['Wscore'].mean()
highest_average_winning_score_by_season = average_winning_score_by_season_and_team.groupby('Season').idxmax()

Season
1985    (1985, 1328)
1986    (1986, 1109)
1987    (1987, 1380)
1988    (1988, 1258)
1989    (1989, 1258)
1990    (1990, 1258)
1991    (1991, 1380)
1992    (1992, 1380)
1993    (1993, 1380)
1994    (1994, 1380)
1995    (1995, 1206)
1996    (1996, 1206)
1997    (1997, 1254)
1998    (1998, 1395)
1999    (1999, 1317)
2000    (2000, 1395)
2001    (2001, 1395)
2002    (2002, 1242)
2003    (2003, 1395)
2004    (2004, 1194)
2005    (2005, 1311)
2006    (2006, 1190)
2007    (2007, 1440)
2008    (2008, 1440)
2009    (2009, 1377)
2010    (2010, 1440)
2011    (2011, 1449)
2012    (2012, 1370)
2013    (2013, 1377)
2014    (2014, 1322)
2015    (2015, 1322)
2016    (2016, 1146)
Name: Wscore, dtype: object

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [38]:
# Write your code here
wins_by_team_by_season = df.groupby(['Season', 'Wteam']).size().reset_index(name='Wins')

wins_by_team_by_season

       Season  Wteam  Wins
0        1985   1102     5
1        1985   1103     9
2        1985   1104    21
3        1985   1106    10
4        1985   1108    19
...       ...    ...   ...
10167    2016   1460    20
10168    2016   1461    12
10169    2016   1462    27
10170    2016   1463    21
10171    2016   1464     9

[10172 rows x 3 columns]

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [39]:
# Write your code here
team_with_most_wins_by_season = wins_by_team_by_season.groupby('Season')['Wins'].idxmax()
team_with_most_wins_by_season

Season
1985     217
1986     342
1987     818
1988     861
1989    1323
1990    1551
1991    1739
1992    2088
1993    2423
1994    2665
1995    2928
1996    3357
1997    3638
1998    3943
1999    4201
2000    4709
2001    4829
2002    5121
2003    5456
2004    5981
2005    6165
2006    6452
2007    6841
2008    7209
2009    7552
2010    7870
2011    8217
2012    8565
2013    8878
2014    9462
2015    9609
2016    9955
Name: Wins, dtype: int64

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [41]:
# Write your code here
average_losing_score_by_team = df.groupby('Lteam')['Lscore'].mean()
teams_with_higher_average_losing_score = average_losing_score_by_team[average_losing_score_by_team > max_winning_score_by_team]

teams_with_higher_average_losing_score

Series([], Name: Lscore, dtype: float64)

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [64]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season    1985
Daynum      20
Wteam     1228
Wscore      81
Lteam     1328
Lscore      64
Wloc         N
Numot        0
Name: 0, dtype: object
Season    1985
Daynum      25
Wteam     1106
Wscore      77
Lteam     1354
Lscore      70
Wloc         H
Numot        0
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [46]:
# Write your code here
df['HighScoringGame'] = ['Yes' if x > 100 else 'No' for x in df['Wscore']]

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [47]:
# Write your code here
games_played = {}
for i, row in df.iterrows():
    games_played[row['Wteam']] = games_played.get(row['Wteam'], 0) + 1
    games_played[row['Lteam']] = games_played.get(row['Lteam'], 0) + 1

for team, games in games_played.items():
    print(f'Team {team} played {games} games.')

Team 1228 played 992 games.
Team 1328 played 968 games.
Team 1106 played 855 games.
Team 1354 played 906 games.
Team 1112 played 981 games.
Team 1223 played 363 games.
Team 1165 played 833 games.
Team 1432 played 69 games.
Team 1192 played 908 games.
Team 1447 played 903 games.
Team 1218 played 931 games.
Team 1337 played 922 games.
Team 1226 played 847 games.
Team 1242 played 993 games.
Team 1268 played 969 games.
Team 1260 played 914 games.
Team 1133 played 949 games.
Team 1305 played 922 games.
Team 1424 played 974 games.
Team 1307 played 969 games.
Team 1288 played 925 games.
Team 1344 played 951 games.
Team 1438 played 952 games.
Team 1374 played 916 games.
Team 1411 played 903 games.
Team 1412 played 962 games.
Team 1397 played 963 games.
Team 1417 played 966 games.
Team 1225 played 880 games.
Team 1116 played 980 games.
Team 1368 played 808 games.
Team 1120 played 936 games.
Team 1391 played 879 games.
Team 1135 played 847 games.
Team 1306 played 898 games.
Team 1143 played 947 games.
Team 1388 played 897 games.
Team 1153 played 970 games.
Team 1184 played 863 games.
Team 1159 played 887 games.
Team 1171 played 829 games.
Team 1216 played 930 games.
Team 1173 played 960 games.
Team 1134 played 200 games.
Team 1177 played 942 games.
Team 1296 played 879 games.
Team 1193 played 942 games.
Team 1265 played 934 games.
Team 1196 played 981 games.
Team 1416 played 881 games.
Team 1206 played 938 games.
Team 1137 played 912 games.
Team 1210 played 972 games.
Team 1149 played 824 games.
Team 1211 played 921 games.
Team 1102 played 840 games.
Team 1234 played 968 games.
Team 1114 played 910 games.
Team 1332 played 927 games.
Team 1243 played 927 games.
Team 1317 played 883 games.
Team 1257 played 994 games.
Team 1231 played 969 games.
Team 1277 played 966 games.
Team 1145 played 934 games.
Team 1278 played 948 games.
Team 1453 played 912 games.
Team 1286 played 851 games.
Team 1186 played 849 games.
Team 1301 played 979 games.
Team 1144 played 850 games.
Team 1325 played 942 games.
Team 1384 played 887 games.
Team 1326 played 968 games.
Team 1248 played 896 games.
Team 1287 played 857 games.
Team 1339 played 879 games.
Team 1334 played 899 games.
Team 1365 played 907 games.
Team 1375 played 896 games.
Team 1126 played 906 games.
Team 1403 played 939 games.
Team 1152 played 865 games.
Team 1423 played 931 games.
Team 1347 played 858 games.
Team 1429 played 930 games.
Team 1428 played 931 games.
Team 1437 played 983 games.
Team 1436 played 911 games.
Team 1172 played 879 games.
Team 1439 played 946 games.
Team 1330 played 963 games.
Team 1443 played 942 games.
Team 1121 played 175 games.
Team 1455 played 947 games.
Team 1249 played 873 games.
Team 1241 played 942 games.
Team 1440 played 825 games.
Team 1314 played 1010 games.
Team 1200 played 922 games.
Team 1323 played 950 games.
Team 1264 played 928 games.
Team 1458 played 951 games.
Team 1104 played 975 games.
Team 1160 played 928 games.
Team 1414 played 922 games.
Team 1181 played 1013 games.
Team 1387 played 956 games.
Team 1183 played 871 games.
Team 1247 played 943 games.
Team 1284 played 932 games.
Team 1402 played 847 games.
Team 1276 played 959 games.
Team 1178 played 920 games.
Team 1364 played 890 games.
Team 1338 played 962 games.
Team 1290 played 875 games.
Team 1376 played 945 games.
Team 1378 played 936 games.
Team 1202 played 856 games.
Team 1396 played 979 games.
Team 1180 played 930 games.
Team 1398 played 870 games.
Team 1399 played 860 games.
Team 1155 played 950 games.
Team 1258 played 898 games.
Team 1448 played 947 games.
Team 1464 played 856 games.
Team 1124 played 906 games.
Team 1341 played 857 games.
Team 1130 played 951 games.
Team 1254 played 898 games.
Team 1204 played 862 games.
Team 1151 played 899 games.
Team 1233 played 957 games.
Team 1220 played 933 games.
Team 1246 played 999 games.
Team 1405 played 921 games.
Team 1280 played 946 games.
Team 1238 played 920 games.
Team 1308 played 935 games.
Team 1431 played 937 games.
Team 1253 played 915 games.
Team 1363 played 889 games.
Team 1348 played 938 games.
Team 1373 played 950 games.
Team 1379 played 896 games.
Team 1270 played 861 games.
Team 1409 played 966 games.
Team 1331 played 809 games.
Team 1444 played 916 games.
Team 1434 played 902 games.
Team 1451 played 866 games.
Team 1139 played 923 games.
Team 1442 played 840 games.
Team 1154 played 820 games.
Team 1456 played 891 games.
Team 1229 played 951 games.
Team 1227 played 917 games.
Team 1259 played 913 games.
Team 1406 played 926 games.
Team 1261 played 956 games.
Team 1272 played 992 games.
Team 1117 played 891 games.
Team 1273 played 896 games.
Team 1163 played 977 games.
Team 1318 played 942 games.
Team 1360 played 889 games.
Team 1393 played 993 games.
Team 1419 played 894 games.
Team 1418 played 912 games.
Team 1281 played 977 games.
Team 1161 played 905 games.
Team 1109 played 169 games.
Team 1309 played 840 games.
Team 1298 played 894 games.
Team 1321 played 912 games.
Team 1285 played 865 games.
Team 1271 played 887 games.
Team 1353 played 939 games.
Team 1351 played 929 games.
Team 1359 played 874 games.
Team 1267 played 909 games.
Team 1361 played 915 games.
Team 1386 played 958 games.
Team 1400 played 982 games.
Team 1322 played 854 games.
Team 1433 played 975 games.
Team 1187 played 861 games.
Team 1245 played 927 games.
Team 1111 played 876 games.
Team 1150 played 942 games.
Team 1119 played 868 games.
Team 1141 played 872 games.
Team 1221 played 929 games.
Team 1122 played 903 games.
Team 1185 played 900 games.
Team 1199 played 949 games.
Team 1201 played 947 games.
Team 1212 played 837 games.
Team 1197 played 896 games.
Team 1140 played 965 games.
Team 1292 played 888 games.
Team 1162 played 831 games.
Team 1319 played 843 games.
Team 1239 played 891 games.
Team 1320 played 913 games.
Team 1371 played 946 games.
Team 1349 played 888 games.
Team 1222 played 930 games.
Team 1382 played 914 games.
Team 1383 played 898 games.
Team 1385 played 954 games.
Team 1390 played 932 games.
Team 1425 played 944 games.
Team 1435 played 961 games.
Team 1463 played 838 games.
Team 1441 played 854 games.
Team 1449 played 938 games.
Team 1123 played 906 games.
Team 1103 played 910 games.
Team 1129 played 907 games.
Team 1209 played 891 games.
Team 1156 played 900 games.
Team 1336 played 926 games.
Team 1174 played 913 games.
Team 1343 played 832 games.
Team 1232 played 913 games.
Team 1203 played 933 games.
Team 1110 played 910 games.
Team 1335 played 880 games.
Team 1283 played 952 games.
Team 1235 played 950 games.
Team 1166 played 957 games.
Team 1311 played 839 games.
Team 1256 played 925 games.
Team 1147 played 698 games.
Team 1250 played 898 games.
Team 1266 played 951 games.
Team 1452 played 945 games.
Team 1269 played 946 games.
Team 1208 played 954 games.
Team 1310 played 949 games.
Team 1329 played 941 games.
Team 1333 played 911 games.
Team 1345 played 966 games.
Team 1263 played 898 games.
Team 1352 played 925 games.
Team 1380 played 862 games.
Team 1446 played 48 games.
Team 1427 played 858 games.
Team 1113 played 937 games.
Team 1408 played 808 games.
Team 1410 played 831 games.
Team 1350 played 959 games.
Team 1450 played 913 games.
Team 1462 played 954 games.
Team 1131 played 945 games.
Team 1190 played 891 games.
Team 1168 played 891 games.
Team 1179 played 914 games.
Team 1304 played 953 games.
Team 1224 played 907 games.
Team 1356 played 953 games.
Team 1426 played 859 games.
Team 1215 played 147 games.
Team 1132 played 895 games.
Team 1217 played 828 games.
Team 1389 played 928 games.
Team 1395 played 943 games.
Team 1461 played 914 games.
Team 1279 played 927 games.
Team 1275 played 932 games.
Team 1293 played 886 games.
Team 1191 played 928 games.
Team 1299 played 870 games.
Team 1401 played 940 games.
Team 1175 played 890 games.
Team 1327 played 22 games.
Team 1207 played 923 games.
Team 1108 played 866 games.
Team 1182 played 924 games.
Team 1274 played 915 games.
Team 1362 played 867 games.
Team 1164 played 893 games.
Team 1118 played 27 games.
Team 1420 played 845 games.
Team 1457 played 801 games.
Team 1148 played 844 games.
Team 1372 played 795 games.
Team 1157 played 784 games.
Team 1421 played 799 games.
Team 1358 played 806 games.
Team 1460 played 827 games.
Team 1198 played 812 games.
Team 1291 played 815 games.
Team 1381 played 735 games.
Team 1251 played 755 games.
Team 1282 played 745 games.
Team 1169 played 724 games.
Team 1302 played 200 games.
Team 1454 played 737 games.
Team 1170 played 660 games.
Team 1138 played 728 games.
Team 1158 played 720 games.
Team 1422 played 719 games.
Team 1369 played 682 games.
Team 1404 played 643 games.
Team 1194 played 647 games.
Team 1407 played 639 games.
Team 1142 played 597 games.
Team 1214 played 627 games.
Team 1459 played 575 games.
Team 1240 played 568 games.
Team 1313 played 563 games.
Team 1115 played 520 games.
Team 1176 played 526 games.
Team 1346 played 522 games.
Team 1237 played 519 games.
Team 1340 played 497 games.
Team 1107 played 512 games.
Team 1357 played 500 games.
Team 1324 played 506 games.
Team 1189 played 481 games.
Team 1125 played 506 games.
Team 1105 played 447 games.
Team 1392 played 493 games.
Team 1219 played 466 games.
Team 1127 played 442 games.
Team 1289 played 48 games.
Team 1415 played 418 games.
Team 1236 played 400 games.
Team 1394 played 390 games.
Team 1205 played 405 games.
Team 1128 played 106 games.
Team 1252 played 401 games.
Team 1366 played 384 games.
Team 1294 played 336 games.
Team 1255 played 344 games.
Team 1430 played 325 games.
Team 1413 played 348 games.
Team 1355 played 327 games.
Team 1244 played 322 games.
Team 1295 played 308 games.
Team 1316 played 327 games.
Team 1445 played 107 games.
Team 1312 played 276 games.
Team 1146 played 267 games.
Team 1167 played 260 games.
Team 1300 played 252 games.
Team 1367 played 267 games.
Team 1342 played 260 games.
Team 1195 played 273 games.
Team 1188 played 207 games.
Team 1377 played 210 games.
Team 1315 played 217 games.
Team 1136 played 240 games.
Team 1370 played 222 games.
Team 1303 played 129 games.
Team 1297 played 113 games.
Team 1213 played 84 games.
Team 1262 played 83 games.
Team 1101 played 76 games.
Team 1230 played 64 games.

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [48]:
# Write your code here
highest_score_difference_by_season = {}
for i, row in df.iterrows():
    score_difference = row['Wscore'] - row['Lscore']
    if row['Season'] not in highest_score_difference_by_season or score_difference > highest_score_difference_by_season[row['Season']][1]:
        highest_score_difference_by_season[row['Season']] = (i, score_difference)


for season, (index, score_difference) in highest_score_difference_by_season.items():
    print(f'The game with the highest score difference in season {season} is at index {index} with a score difference of {score_difference}.')

The game with the highest score difference in season 1985 is at index 236 with a score difference of 60.
The game with the highest score difference in season 1986 is at index 4731 with a score difference of 84.
The game with the highest score difference in season 1987 is at index 8240 with a score difference of 73.
The game with the highest score difference in season 1988 is at index 12046 with a score difference of 68.
The game with the highest score difference in season 1989 is at index 16677 with a score difference of 70.
The game with the highest score difference in season 1990 is at index 19502 with a score difference of 76.
The game with the highest score difference in season 1991 is at index 25161 with a score difference of 68.
The game with the highest score difference in season 1992 is at index 27997 with a score difference of 82.
The game with the highest score difference in season 1993 is at index 33858 with a score difference of 81.
The game with the highest score difference in season 1994 is at index 36404 with a score difference of 69.
The game with the highest score difference in season 1995 is at index 39858 with a score difference of 74.
The game with the highest score difference in season 1996 is at index 44653 with a score difference of 91.
The game with the highest score difference in season 1997 is at index 49033 with a score difference of 80.
The game with the highest score difference in season 1998 is at index 52600 with a score difference of 66.
The game with the highest score difference in season 1999 is at index 57618 with a score difference of 75.
The game with the highest score difference in season 2000 is at index 60616 with a score difference of 75.
The game with the highest score difference in season 2001 is at index 65999 with a score difference of 75.
The game with the highest score difference in season 2002 is at index 70737 with a score difference of 59.
The game with the highest score difference in season 2003 is at index 74791 with a score difference of 72.
The game with the highest score difference in season 2004 is at index 79181 with a score difference of 70.
The game with the highest score difference in season 2005 is at index 83372 with a score difference of 64.
The game with the highest score difference in season 2006 is at index 89542 with a score difference of 72.
The game with the highest score difference in season 2007 is at index 94507 with a score difference of 74.
The game with the highest score difference in season 2008 is at index 97737 with a score difference of 70.
The game with the highest score difference in season 2009 is at index 103723 with a score difference of 68.
The game with the highest score difference in season 2010 is at index 108405 with a score difference of 75.
The game with the highest score difference in season 2011 is at index 114015 with a score difference of 69.
The game with the highest score difference in season 2012 is at index 118699 with a score difference of 62.
The game with the highest score difference in season 2013 is at index 124057 with a score difference of 58.
The game with the highest score difference in season 2014 is at index 131373 with a score difference of 74.
The game with the highest score difference in season 2015 is at index 134590 with a score difference of 69.
The game with the highest score difference in season 2016 is at index 140040 with a score difference of 73.

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [69]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [49]:
# Write your code here

games_played_vectorized = df['Wteam'].value_counts() + df['Lteam'].value_counts()
print(games_played_vectorized)

1101     76
1102    840
1103    910
1104    975
1105    447
       ...
1460    827
1461    914
1462    954
1463    838
1464    856
Name: count, Length: 364, dtype: int64

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [50]:
# Write your code here

df['ScoreDifference'] = df['Wscore'] - df['Lscore']
highest_score_difference_game_by_season = df.groupby('Season')['ScoreDifference'].idxmax()

print(df.loc[highest_score_difference_game_by_season])

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
236       1985      33   1361     128   1288      68    H      0
4731      1986      60   1314     129   1264      45    N      0
8240      1987      51   1155     112   1118      39    H      0
12046     1988      40   1328     152   1147      84    H      0
16677     1989      64   1242     115   1135      45    H      0
19502     1990      26   1181     130   1217      54    H      0
25161     1991      73   1163     115   1148      47    H      0
27997     1992      30   1116     128   1126      46    H      0
33858     1993      86   1328     146   1197      65    H      0
36404     1994      47   1228     121   1152      52    H      0
39858     1995      26   1246     124   1404      50    H      0
44653     1996      48   1409     141   1341      50    H      0
49033     1997      56   1278     114   1106      34    H      0
52600     1998      33   1395     153   1410      87    H      0
57618     1999      58   1268     132   1317      57    H      0
60616     2000      19   1261     112   1212      37    H      0
65999     2001      41   1196     125   1197      50    H      0
70737     2002      50   1328     109   1183      50    H      0
74791     2003      33   1403     107   1311      35    H      0
79181     2004      29   1328      94   1115      24    H      0
83372     2005      18   1403     119   1421      55    H      0
89542     2006      60   1400     110   1341      38    H      0
94507     2007      59   1401     101   1212      27    H      0
97737     2008       4   1182     129   1224      59    H      0
103723    2009      27   1314     116   1421      48    H      0
108405    2010      15   1397     124   1421      49    H      0
114015    2011      22   1388     121   1152      52    H      0
118699    2012      11   1345      96   1296      34    H      0
124057    2013       7   1235      98   1105      40    H      0
131373    2014      61   1256     126   1255      52    H      0
134590    2015      11   1181     113   1342      44    H      0
140040    2016      12   1139     144   1154      71    H      0

        ScoreDifference HighScoringGame
236                  60             Yes
4731                 84             Yes
8240                 73             Yes
12046                68             Yes
16677                70             Yes
19502                76             Yes
25161                68             Yes
27997                82             Yes
33858                81             Yes
36404                69             Yes
39858                74             Yes
44653                91             Yes
49033                80             Yes
52600                66             Yes
57618                75             Yes
60616                75             Yes
65999                75             Yes
70737                59             Yes
74791                72             Yes
79181                70              No
83372                64             Yes
89542                72             Yes
94507                74             Yes
97737                70             Yes
103723               68             Yes
108405               75             Yes
114015               69             Yes
118699               62              No
124057               58              No
131373               74             Yes
134590               69             Yes
140040               73             Yes

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [38]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [39]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [40]:
type(df['Wscore'])

pandas.core.series.Series

In [41]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [42]:
df[0:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

Here's an equivalent using iloc

In [43]:
df.iloc[0:3,:]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [44]:
df.isnull().sum()

Season    0
Daynum    0
Wteam     0
Wscore    0
Lteam     0
Lscore    0
Wloc      0
Numot     0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values. 
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis). 
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y